.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.1s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.collapseButton {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.switchers {
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.langWrapper {
    margin-left: 20px;
}