.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.1s;
}

.langWrapper {
    margin-left: 20px;
}

.switchers {
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 30px;
}

.linkWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    opacity: 1;
}

.link {
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color)
}

.collapseButton {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .langWrapper {
        margin-left: 0;
    }

    .link {
        opacity: 0.0001;
        transition: 0.2s opacity;
        width: 0;
    }
}
