.app.dark {
    /* background color */
    --bg-color: #0e0e75;
    --inverted-bg-color: #e8e8ea;

    /* primary and secondary color */
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0449e0;
    --inverted-secondary-color: #041c65;
}